:root {
  --main-color: #ff4b44;
  --second-color: #adf153;
  --third-color: #ff4b44;
  --maing-bg: linear-gradient(#2b2b3a, #573e58);
  --second-bg: #ff4a4460;
  --main-boder: solid #ff4b44 1px;
}

.navbarContainer{
  display: flex;
  align-items: center;
}

.navItem {  
  font-size: 0.8rem;
  font-weight: 200;
  border-radius: 0.2rem;
  display: block !important;
  padding: 0.5rem;
  margin: 0 0.3rem;
}

.navItem:hover {    
  background-color: var(--second-color);    
  color: var(--main-color);
  transition: 0.3s;    
}

.hamburgerIcon {
  filter: invert(50%) sepia(23%) saturate(7259%) hue-rotate(332deg) brightness(96%) contrast(111%);    
  position: absolute; 
  top: 1rem;
  right: 0;  
  margin: 0.2rem;
}

.active {
  color: #01ffdd !important;
}


@media screen and (max-width: 768px) {
  .navbarContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin-top: 2rem;  
  }

  .navItem {
    padding: 0.2rem;
    margin: 0;
  }

}