.footerIcons {
    filter: invert(50%) sepia(23%) saturate(7259%) hue-rotate(332deg) brightness(96%) contrast(111%);
    height: 28px;
}

.footerMiniIcons {
    filter: invert(50%) sepia(23%) saturate(7259%) hue-rotate(332deg) brightness(96%) contrast(111%);
    height: 16px;
}

.footer p {
    font-size: 0.9rem;    
}

@media screen and (max-width: 767px) {
    .footerIcons {
        filter: invert(50%) sepia(23%) saturate(7259%) hue-rotate(332deg) brightness(96%) contrast(111%);
        height: 20px;
    }
}    
