/* MIS ESTILOS */
:root {
  --main-color: #ff4b44;
  --second-color: #adf153;
  --third-color: #ff4b44;
  --main-bg: linear-gradient(#2b2b3a, #573e58);
  --second-bg: #ff4a4460;
  --main-boder: solid (var(--main-color)) 1px;
}


* {
  list-style: none;  
  font-family: "Open Sans", sans-serif;
  font-size: 16px;  
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a:hover {
  color: Black;
}

p, label, input, .form-control { 
  font-size: 0.8rem;
  margin: 0;                         
  padding: 0;
  text-align: justify;
  font-weight: 300;  
}

@media screen and (min-width: 768px){
  p, label, input, .form-control { 
      font-size: 1rem; 
      text-align: start;                        
  }
}

.hidden {
  visibility: hidden; 
  opacity: 0;
  transition: all 800ms ease-out;
}

.App {
  min-height: 100vh;
  background: var(--main-bg);  
}

